language: android
jdk: oraclejdk7

android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.2
    - android-23

before_script:
    - chmod +x gradlew

script:
    - ./gradlew clean assemble
